.contacts {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

.contactheader {
  margin-top: 30px;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  color: hsl(207, 15%, 26%);
}

.contact {
  margin: 40px auto 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contactchild {
  height: 70px;
  width: 70px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: start;
}

.contactchild > i:hover {
  border-bottom: 2px solid rgb(245, 103, 32);
}