.footer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(57, 68, 77);
  color: rgb(245, 104, 34);
}

.footer > h1 {
  color: white;
}

.footer > p {
  color: white;
}