.projects {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

.header {
  margin-top: 30px;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(57, 68, 77);
}

/* .project {
  margin-top: 40px;
  padding: 0 5px 0 5px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 10px;
} */

.project {
  margin:40px auto 40px auto;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
}

.projectchild {
  height: 300px;
  width: 400px;
  border: 1px solid black;
  border-radius: 15px;
}
