.skills {
  width: 310px;
  height: 500px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skills > a {
  /* background-color: rgb(167, 250, 167); */
  background-color: rgb(176, 230, 230);
  border-radius: 30px;
  /* margin-bottom: 10px; */
  width: 100%;
  padding: 5px 0 5px 25px;
}

/* connection icon style */

i {
  font-size: 35px;
}

.skills > .react {
  width: 57%;
}

.skills > .react > i {
  font-size: 50px;
  color: rgb(8, 124, 163);
}

.skills > .nodejs {
  width: 50%;
}

.skills > .nodejs > i {
  font-size: 50px;
  color: rgb(112, 171, 97);
}

.skills > .git {
  width: 65%;
}

.skills > .git > i {
  font-size: 50px;
  color: rgb(235, 76, 40);
}

.skills > .github {
  width: 85%;
}

.skills > .github > i {
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.skills > .htmllogo {
  width: 92%;
}

.skills > .htmllogo > i {
  font-size: 50px;
  color: rgb(230, 77, 34);
}

.skills > .css {
  width: 85%;
}

.skills > .css > i {
  font-size: 50px;
  color: rgb(13, 111, 181);
}
