/* Standard style start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: none;
  outline: none;
  color: black;
  font-size: 20px;
}

html {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}

body {
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  width: 100%;
  /* padding: 0 3px 0 3px; */
  height: auto;
}

.main {
display: flex;
flex-direction: column;
align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  width: 80%;
  height: 60px;
  position: fixed;
  top: 2px;
  border-radius: 30px;
  background-color: hsla(211, 100%, 70%, 0.1);
  backdrop-filter: blur(4px);
  z-index: 1000;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  width: 50%;
  display: flex;
  justify-content: start;
}

.logoimg {
  height: 58px;
  width: auto;
}

.pages {
  width: 40%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero {
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
}

.intro {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greating {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 50px;
  color: rgb(57, 68, 77);
}

/* logo color rgb(245, 104, 34) */

.about {
  padding: 70px 250px 0 250px;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 40px;
}

.intro_img {
  position: absolute;
  top: 100px;
  height: auto;
  width: 230px;
  left: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: hsla(211, 100%, 70%, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 0 4px 5px 0 rgb(57, 68, 77);
}

.intro_name {
  margin-left: 45px;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  height: 150px;
  color: rgb(57, 68, 77);
}

#portImg {
  width: auto;
  height: 150px;
  border-radius: 100px;
}

.projects {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

.header {
  margin-top: 30px;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(57, 68, 77);
}

/* .project {
  margin-top: 40px;
  padding: 0 5px 0 5px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 10px;
} */

.project {
  margin:40px auto 40px auto;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
}

.projectchild {
  height: 300px;
  width: 400px;
  border: 1px solid black;
  border-radius: 15px;
}

.contacts {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

.contactheader {
  margin-top: 30px;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(57, 68, 77);
}

.contact {
  margin-top: 40px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contactchild {
  height: 70px;
  width: 70px;
  flex-shrink: 0;
}

.skills {
  width: 310px;
  height: 500px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skills > a {
  /* background-color: rgb(167, 250, 167); */
  background-color: rgb(176, 230, 230);
  border-radius: 30px;
  /* margin-bottom: 10px; */
  width: 100%;
  padding: 5px 0 5px 25px;
}

.footer {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(57, 68, 77);
  color: rgb(245, 104, 34);
}

/* connection icon style */

i {
  font-size: 35px;
}

.skills > .react {
  width: 57%;
}

.skills > .react > i {
  font-size: 50px;
  color: rgb(8, 124, 163);
}

.skills > .nodejs {
  width: 50%;
}

.skills > .nodejs > i {
  font-size: 50px;
  color: rgb(112, 171, 97);
}

.skills > .git {
  width: 65%;
}

.skills > .git > i {
  font-size: 50px;
  color: rgb(235, 76, 40);
}

.skills > .github {
  width: 85%
}

.skills > .github > i {
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.skills >.htmllogo {
  width: 92%;
}

.skills > .htmllogo > i {
  font-size: 50px;
  color: rgb(230, 77, 34);
}

.skills > .css {
  width: 85%;
}

.skills > .css > i {
  font-size: 50px;
  color: rgb(13, 111, 181);
}

/* Standard style end */
/* Hover style start */

/* .pageitem:hover {
  text-underline-offset: ;
} */