/* Standard style start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: none;
  outline: none;
  color: black;
  font-size: 20px;
}

html {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}

body {
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  width: 100%;
  /* padding: 0 3px 0 3px; */
  height: auto;
}

.main {
display: flex;
flex-direction: column;
align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  width: 80%;
  height: 60px;
  position: fixed;
  top: 2px;
  border-radius: 30px;
  background-color: hsla(211, 100%, 70%, 0.1);
  backdrop-filter: blur(4px);
  z-index: 1000;
}

.logo {
  width: 50%;
  display: flex;
  justify-content: start;
}

.logoimg {
  height: 58px;
  width: auto;
}

.pages {
  width: 40%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero {
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.intro {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greating {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 50px;
}

.about {
  padding: 70px 250px 0 250px;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 40px;
}

.intro_img {
  position: absolute;
  top: 100px;
  height: auto;
  width: 250px;
  left: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: black;
  display: flex;
  justify-content: end;
  align-items: center;
}

#portImg {
  width: 200px;
  height: auto;
  border-radius: 100px;
}

.projects {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 10%;
}

.project {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contacts {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactheader {
  height: 30%;
}

.contact {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.skills {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(198, 103, 34);
}

/* Standard style end */
/* Hover style start */

/* .pageitem:hover {
  text-underline-offset: ;
} */