.intro_img {
  position: absolute;
  top: 100px;
  height: auto;
  /* width: 220px; */
  width: auto;
  left: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: hsla(211, 100%, 70%, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 5px 0 rgb(57, 68, 77);
  transition: width 20s ease-in-out;
}

.intro_name {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  height: 150px;
  color: rgb(57, 68, 77);
  display: none;
}

#portImg {
  width: auto;
  height: 150px;
  border-radius: 100px;
}

.intro_img:hover {
    width: 220px;
}